[Unit]
Description=Cachey Server
After=network.target

[Service]
Type=simple
Environment="RUST_LOG=info"
ExecStart=/usr/local/bin/cachey --url 0.0.0.0:8080 server
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
